#sigma-container {
height: 500px;
background: #f2f0e9;
    border: 1px solid #ccc;
    border-radius: 3px;
width: 99%;
}

#menu{
border-bottom-style: dotted;
  padding-bottom: 10px;

}

#settings{
	position:absolute;
	right:20px;
	margin-top: 20px;
	z-index: 10;
	background: #fff;
	min-height:400px;
}

#details_view{
	position:absolute;
	left:40px;
	background: #fff;
	margin-top: 300px;
	min-height:150px;
	display:none;
}

#resetcamera{
	position: absolute;
	left:20px;
	margin-top:20px;
}

#status_container{
	margin-top: 50px;
	right: 35px;
}

#status{
	text-align:left;
	cursor: default;
}
#savetoSVG{
	position: absolute;
	left:40px;
	margin-top:55px;
}
#savetoCanvas{
	position: absolute;
	left:40px;
	margin-top:95px;
}
.btn-default:focus {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.glyphicon{
word-spacing: -10px;
}

.nav li{
  display: inline;
  float:left;
}

.tab-content{
padding-top:20px;
}
#filter_by_container label{
display: block;
}

#graphs, .basicgraph{
	float:left;
	margin: 10px;
}

#graphs h4{
text-align:center;
}

.logo{
width:150px;
max-height: 150px;
display:block;
margin:auto;
}

#navigation-wrapper select {
    width: 100%;
}
.page-header{
border-bottom:0 !important;
}


#size_by_container label{
min-width:100px;
}
#size_by_container label:first-child{
 margin-left: 10px;
}

.text-info{
margin-top:30px;
}
/*body { 
    background: #eee;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    margin: 0;
    padding: 0;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}

#column-1 {
    width: 800px;
    float: left;
}

#column-2 {
    width: 375px;
    float: right;
    padding-left:25px;
}

#header {
    width: 100%;
    float: left;
}
#titel {
	float:left;
	width: 690px;
}
#change_graph{
	font-size: 12pt;
}
#header h1 {
    font-size: 20pt;
}

#header h2 {
    font-size: 16pt;
}

#logos {
    margin-top: 20px;
    text-align: center;
}

.logo {
    padding: 4px;
}

a img {
    border: none;
}

h1, h2 {
    margin: 5px 0;
}

h4{
	font-size:10pt;
}
a {
    color: blue;
}


#sigma-container {
    width: 100%;
    height: 500px;
    
}

#navigation-wrapper {
    width: 100%;
}

#navigation-wrapper select {
    width: 100%;
}


#details_view{
margin: 10px;
}*/